body {
  background-color: #90adc9 !important;
}
.wrapper {
  width: 1024px;
  margin: 0 auto;
}
header {
  background-color: #fff;
  color: #fff;
  min-height: 75px;
  border-bottom: 3px solid #84c320;
}

.logo {
  float: left;
}
.logo img {
  width: 75px;
  margin-left: 10px;
}
nav {
  float: right;
}

.slider img {
  width: 100%;
  border-radius: 10px;
  height: 380px;

}

.content {
  padding: 25px 0;
}

.content h1 {
  text-align: center;
  color: #f3f5f8;
  font-size: 28px;
}

.content p {
  text-align: justify;
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}

.btn {
  border: none;
  padding: 3px;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.card-block {
  float: left;
  margin: 0 1%;
  width: 23%;
  text-align: center;
  margin-bottom: 30px;
}

.card-block .title {
  font-size: 18px;
  padding: 15px 0;
  color: #fff;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
